<template lang="html">
  <v-card>
    <v-card-title>Governance</v-card-title>
    <v-card-subtitle>Contracts addresses</v-card-subtitle>
    <v-card-text>
      <v-row no-gutters>
        <v-col cols="3" sm="12" md="3">Deployment Factory</v-col>
        <v-col cols="9" sm="12" md="9">
          {{ address.factory }}
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="3" sm="12" md="3">Treasury</v-col>
        <v-col cols="9" sm="12" md="9">
          {{ address.treasury }} balance: {{ treasuryBalance }}
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="3" sm="12" md="3">Basket</v-col>
        <v-col cols="9" sm="12" md="9">
          {{ address.basket }}
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="3" sm="12" md="3">Issuance</v-col>
        <v-col cols="9" sm="12" md="9">
          {{ address.issuance }}
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="3" sm="12" md="3">Redemption</v-col>
        <v-col cols="9" sm="12" md="9">
          {{ address.redemption }}
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { ethers } from "ethers";
import { address as FactoryAddress } from "@/deployments/localhost/TreasuryFactory.json";
import FactoryArtifact from "@/artifacts/contracts/TreasuryFactory.sol/TreasuryFactory.json";
import TreasuryArtifact from "@/artifacts/contracts/Treasury.sol/Treasury.json";
import { decimalize } from "@/utils/formatters/numbers";

export default {
  name: "GovernanceDetails",
  data() {
    return {
      address: {
        factory: null,
        treasury: null,
        basket: null,
        issuance: null,
        redemption: null
      },
      treasuryBalance: 0
    };
  },
  async created() {
    const provider = ethers.getDefaultProvider("http://localhost:8545");

    const factory = new ethers.Contract(
      FactoryAddress,
      FactoryArtifact.abi,
      provider
    );
    const treasury = new ethers.Contract(
      await factory.treasury(),
      TreasuryArtifact.abi,
      provider
    );

    this.address.factory = factory.address;
    this.address.treasury = treasury.address;
    this.address.basket = await treasury.getBasket();
    this.address.issuance = await treasury.getIssuance();
    this.address.redemption = await treasury.getRedemption();

    this.treasuryBalance = decimalize(
      (await provider.getBalance(treasury.address)).toString(),
      18,
      4
    );
  }
};
</script>
