<template>
  <v-container>
    <governance-details />
    <spendie-vol />
    <spendie-gov />
    <stable-tokens />
  </v-container>
</template>

<script>
import GovernanceDetails from "./GovernanceDetails";
import SpendieVol from "./SpendieVol";
import SpendieGov from "./SpendieGov";
import StableTokens from "./StableTokens";

export default {
  name: "HomePage",
  components: {
    GovernanceDetails,
    SpendieVol,
    SpendieGov,
    StableTokens
  }
};
</script>
