<template lang="html">
  <v-card>
    <v-card-text>Latest Price: {{ price }} SpendieVol = 1 Matic</v-card-text>
    <v-card-actions>
      <v-btn @click="update">Update</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { ethers } from "ethers";
import { address as FactoryAddress } from "@/deployments/localhost/TreasuryFactory";
import ISlidingWindowOracleArtifact from "@/artifacts/contracts/oracles/ISlidingWindowOracle.sol/ISlidingWindowOracle.json";
import FactoryArtifact from "@/artifacts/contracts/TreasuryFactory.sol/TreasuryFactory";
import TreasuryArtifact from "@/artifacts/contracts/Treasury.sol/Treasury";
import RedemptionArtifact from "@/artifacts/contracts/Redemption.sol/Redemption";
import { decimalize } from "@/utils/formatters/numbers";

export default {
  name: "SlidingWindowOracle",
  props: ["tokenA", "tokenB"],
  data() {
    return {
      oracle: null,
      price: 0
    };
  },
  created() {
    this.$watch("tokenA", async () => {
      const provider = ethers.getDefaultProvider("http://localhost:8545");

      const factory = new ethers.Contract(
        FactoryAddress,
        FactoryArtifact.abi,
        provider
      );
      const treasury = new ethers.Contract(
        await factory.treasury(),
        TreasuryArtifact.abi,
        provider
      );
      const redemption = new ethers.Contract(
        await treasury.redemption(),
        RedemptionArtifact.abi,
        provider
      );

      this.oracle = new ethers.Contract(
        await redemption.slidingWindowOracle(),
        ISlidingWindowOracleArtifact.abi,
        provider
      );

      try {
        const price = await self.oracle.consult(
          this.tokenA,
          ethers.utils.parseEther("1"),
          this.tokenB
        );
        this.price = decimalize(price.toString(), 18, 4);
      } catch (error) {
        console.error(error);
      }
    });
  },
  methods: {
    async increaseTime() {
      const provider = ethers.getDefaultProvider("http://localhost:8545");

      provider.send("evm_increaseTime", [23 * 3600]);
      provider.send("evm_mine");
    },
    async update() {
      if (window.ethereum) {
        const provider = new ethers.providers.Web3Provider(window.ethereum);
        await provider.send("eth_requestAccounts", []);

        const signer = await provider.getSigner();
        await this.oracle.connect(signer).update(this.tokenA, this.tokenB);

        this.increaseTime();
      }
    }
  }
};
</script>
