<template lang="html">
  <v-card>
    <v-card-title>Spendie Gov</v-card-title>
    <v-card-subtitle>{{ address }}</v-card-subtitle>
    <v-card-text>
      Current Supply: {{ totalSupply }} Treasury Supply: {{ treasurySupply }}
    </v-card-text>
  </v-card>
</template>

<script>
import { ethers } from "ethers";
import { address as FactoryAddress } from "@/deployments/localhost/TreasuryFactory.json";
import FactoryArtifact from "@/artifacts/contracts/TreasuryFactory.sol/TreasuryFactory.json";
import ERC20Artifact from "@openzeppelin/contracts/build/contracts/ERC20";
import { decimalize } from "@/utils/formatters/numbers";
import { getTreasury } from "@/utils/contracts/core";

export default {
  name: "SpendieGov",
  data() {
    return {
      totalSupply: 0,
      treasurySupply: 0,
      address: null
    };
  },
  async created() {
    const provider = ethers.getDefaultProvider("http://localhost:8545");

    const factory = new ethers.Contract(
      FactoryAddress,
      FactoryArtifact.abi,
      provider
    );

    this.address = await factory.spendieGov();
    const token = new ethers.Contract(
      this.address,
      ERC20Artifact.abi,
      provider
    );

    const totalSupply = await token.totalSupply();
    const decimals = await token.decimals();

    this.totalSupply = decimalize(totalSupply.toString(), Number(decimals), 4);

    const treasury = await getTreasury(factory, provider);

    this.treasurySupply = decimalize(
      (await token.balanceOf(treasury.address)).toString(),
      Number(decimals),
      4
    );
  }
};
</script>
