<template lang="html">
  <v-card>
    <v-card-title>Spendie Vol</v-card-title>
    <v-card-subtitle>{{ address }}</v-card-subtitle>
    <v-card-text>
      Current Supply: {{ totalSupply }} Treasury Supply: {{ treasurySupply }}
    </v-card-text>
    <v-card-actions>
      <sliding-window-oracle :token-a="address" :token-b="weth" />
    </v-card-actions>
  </v-card>
</template>

<script>
import { ethers } from "ethers";
import { address as FactoryAddress } from "@/deployments/localhost/TreasuryFactory.json";
import FactoryArtifact from "@/artifacts/contracts/TreasuryFactory.sol/TreasuryFactory.json";
import TreasuryArtifact from "@/artifacts/contracts/Treasury.sol/Treasury.json";
import ERC20Artifact from "@openzeppelin/contracts/build/contracts/ERC20.json";
import { decimalize } from "@/utils/formatters/numbers";
import SlidingWindowOracle from "./SlidingWindowOracle";
import weth from "@/utils/weth";

export default {
  name: "SpendieVol",
  components: {
    SlidingWindowOracle
  },
  data() {
    return {
      totalSupply: 0,
      address: null,
      weth: null,
      treasurySupply: 0
    };
  },
  async created() {
    const provider = ethers.getDefaultProvider("http://localhost:8545");

    const factory = new ethers.Contract(
      FactoryAddress,
      FactoryArtifact.abi,
      provider
    );
    const treasury = new ethers.Contract(
      factory.treasury(),
      TreasuryArtifact.abi,
      provider
    );

    this.weth = await weth();

    this.address = await treasury.spendieVol();
    const token = new ethers.Contract(
      this.address,
      ERC20Artifact.abi,
      provider
    );

    const totalSupply = await token.totalSupply();
    const decimals = await token.decimals();

    this.totalSupply = decimalize(totalSupply.toString(), Number(decimals), 4);

    this.treasurySupply = decimalize(
      (await token.balanceOf(treasury.address)).toString(),
      Number(decimals),
      4
    );
  }
};
</script>
